ol li
{
	list-style-type: none;
	font-size: 50px;
	font-weight: bold;
	color: #070;
}

ol li::before
{
	content: url(barcelona.png);
}

ul li a
{
	font-size: 30px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

ul li a:link
{
	color: #900;
}

ul li a:visited
{
	color: #003399;
}

ul li a:hover
{
	background-color: #CCC; 
	color: #FFFFFF;
}

.hola:hover
{
	background-color: #CCC; 
	color: #FFFFFF
}
